table {border-collapse: collapse; border-spacing: 0;}

body {
    margin: 0;
}

.header {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    font-family: cursive;
    padding: 1.3em;
    border-style: dashed;
    background-color: red;
    margin: 20;
}

.outerContent {
    background-image: url(../images/background.jpeg);
    background-repeat: repeat;
    width: 100%;
    margin: 0;
    padding-top: 0;
    padding-bottom: 10rem;
}

.innerContent {
    display: none;
}

.selected {
    display: block;
}

.topMenu {
    margin: 0;
    padding: 0;
}

ol {
    padding-left: 1.5em;
}

ul {
    padding-left: 1.5em;
}

ol li {
    list-style-type: decimal;
    padding: 0.25em;
}

ul li {
    list-style-type: square;
    padding: 0.25em;
}
.topMenu li.tabSelected {
    background-color: red;
    color: black;
}

.topMenu ul {
    width: 100%;
    display: table;
    padding: 0em;
}

.topMenu ul li {
    display: table-cell;
    color: red;
    background-color: black;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    text-align: center;
}



.topMenu li:hover {
    background-color: rgb(42,42,42);
    cursor: pointer;
}

.pizzaImages {
    text-align: center;
    padding-top: 1.5rem;
}

.pizzaImages img {
    width: 50%;
    
}

.card {
    background-color: white;
    margin: 1.5rem;
    padding: 1.5rem;
    border-style: solid;
    border-color: black;
    border-width: 0.1rem;
}

.sectionTitle {
    font-family: cursive;
}

.stepTitle {
    padding-top: 1.0rem;
}